.vs/
./*.suo
**/bin/
**/obj/
devenv.*[.]vspx
CreateTankColumn/bin/
data/My[.].*
data/DamagedBlock[.].*
DataProvider/SturmovikMission[.]DataProvider[.].*[.]nupkg
syntax: glob
*.userprefs
.nuget/
packages/
devenv.psess
CreateTankColumn/obj/
DataProvider/bin/
DataProvider/obj/
DataProvider.Tests/bin/
DataProvider/Scripts/load-project-release.fsx
DataProvider/Scripts/load-references-release.fsx
data/vluki-rescue/
DataProvider.Tests/obj/
