.vs/
**/bin/
**/obj/
./*.suo
devenv*.vspx
**/*.fsproj.user
**/*.pubxml.user
*.userprefs
**/Properties/launchSettings.json
.nuget/
packages/
SturmovikCampaign-*.zip
SturmovikCampaign-*/
**/data/**/*.fra
**/data/**/*.ger
**/data/**/*.rus
**/data/**/*.pol
**/data/**/*.spa
**/data/**/*.chs
**/data/**/*.list
**/data/**/*.msnbin
**/publish/