.vs/
./*.suo
**/bin/
**/obj/
devenv*.vspx
*.userprefs
.nuget/
packages/
Scripts/*.fsx
data/*.fra
data/*.ger
data/*.rus
data/*.pol
data/*.spa
data/*.list
data/*.msnbin
MyScripts/Configuration.fsx