<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.3.4" targetFramework="net452" />
  <package id="NLog" version="4.5.11" targetFramework="net452" />
  <package id="SturmovikMission.DataProvider" version="4.3.1" targetFramework="net452" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net452" />
</packages>