<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.5.0" targetFramework="net452" />
  <package id="SturmovikMission.DataProvider" version="4.2.0.1" targetFramework="net452" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net452" />
</packages>